.container {
    max-width: 700px;
;
  }
  .page {
    width: 100Vw;
    height: 80vh;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button:disabled {
    background-color: #9ca3af;
  }
  